@model WebAppTilaus.Models.Henkilot

@{
    ViewBag.Title = "Delete";
}

<h2>Poista</h2>

<h3>Haluatko varmasti poistaa tiedot?</h3>
<div>
    <h4>Henkilot</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>@Html.DisplayNameFor(model => model.Etunimi)</dt>

        <dd>@Html.DisplayFor(model => model.Etunimi)</dd>

        <dt> @Html.DisplayNameFor(model => model.Sukunimi)</dt>

        <dd>@Html.DisplayFor(model => model.Sukunimi)</dd>

        <dt>@Html.DisplayNameFor(model => model.Osoite)</dt>

        <dd>@Html.DisplayFor(model => model.Osoite)</dd>

        <dt>@Html.DisplayNameFor(model => model.Esimies)</dt>

        <dd>@Html.DisplayFor(model => model.Esimies)</dd>

        <dt>@Html.DisplayNameFor(model => model.Postinumero)</dt>

        <dd>@Html.DisplayFor(model => model.Postinumero)</dd>

        <dt>@Html.DisplayNameFor(model => model.Sahkoposti)</dt>

        <dd>@Html.DisplayFor(model => model.Sahkoposti)</dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Poista" class="btn btn-default" /> |
            @Html.ActionLink("Takaisin listaan", "Index")
        </div>
    }
</div>
