<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">TilausDB (@ViewBag.LoggedStatus)</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor02">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="./">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Yritys</a>
                    <div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 42px, 0px);">
                        <a class="dropdown-item" href="/Home/About">Me yrityksenä</a>
                        <a class="dropdown-item" href="/Home/Contact">Yhteystiedot</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/Home/Map">Kartta</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Tietoa yrityksestä</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="/Asiakkaat">Asiakkaat</a>
                        <a class="dropdown-item" href="/Henkilot"> Henkilot</a>
                        <a class="dropdown-item" href="/Postitoimipaikat">Postitoimipaikat</a>
                        <a class="dropdown-item" href="/Tilaukset">Tilaukset</a>
                        <a class="dropdown-item" href="/Tilausrivit"> Tilausrivit</a>
                        <a class="dropdown-item" href="/Tuotteet">Tuotteet</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/Tuotteet/Index2">Tuotekuvasto</a>
                        
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Kirjaudu</a>
                    <div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 42px, 0px);">
                        <a class="dropdown-item" href="/Home/Login">Kirjaudu sisään</a>
                        <a class="dropdown-item" href="/Home/LogOut">Kirjaudu ulos</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Tilaus demo app</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
