@model IEnumerable<WebAppTilaus.Models.Tuotteet>

@{
    ViewBag.Title = "Index2";
}
<div class="container-fluid">

    <h2>Tuotteet</h2>
    <div class="row">

        <p>
            @Html.ActionLink("Create New", "Create")
        </p>
        @foreach (var item in Model)
        {
            <div class="col-lg-3">
                <div class="card mb-3">
                    <h3 class="card-header">@item.Nimi</h3>
                    <div class="card-body">
                        <h5 class="card-title">@item.Ahinta</h5>
                        <h6 class="card-subtitle text-muted">@item.Kuva</h6>
                    </div>
                    <img style="height: 200px; width: 100%; display: block;" src="@item.ImageLink" alt="@item.ImageLink">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">@item.TuoteID</li>
                        <li class="list-group-item">@item.Tilausrivit</li>
                        @*<li class="list-group-item">Vestibulum at eros</li>*@
                    </ul>
                    <div class="card-body">
                        <a href="#" class="card-link">Card link</a>
                        <a href="#" class="card-link">Another link</a>
                    </div>
                </div>
            </div>
            @Html.ActionLink("Muokkaa", "Edit", new { id = item.TuoteID })

            @Html.ActionLink("Poista", "Delete", new { id = item.TuoteID })
        }
    </div>
</div>


@*@Html.DisplayFor(modelItem => item.Nimi)*@
@*@Html.DisplayFor(modelItem => item.Ahinta)*@
@*@Html.DisplayFor(modelItem => item.Kuva)*@
@*@Html.DisplayFor(modelItem => item.ImageLink)*@

@*@Html.ActionLink("Edit", "Edit", new { id = item.TuoteID })*@
@*@Html.ActionLink("Details", "Details", new { id = item.TuoteID })*@
@*@Html.ActionLink("Delete", "Delete", new { id = item.TuoteID })*@

<script>
    function naytaValittuTuote(TuoteID) {
        alert(tuoteID);
    }
</script>


